@model List<ProductDto>;

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to the BestShop <i class="bi bi-shop"></i></h1>
    

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @foreach (var i in Model)
        {
            <div class="col">
                <partial name="_ProductCardPartial" model="@i"/> 
                </div>
          }
      </div>
 
</div>

